.chat-main
  .message_info
    .message_info_left
      %h2.message_info_left_box
        = @group.name
      %ul.message_info_left_member
        Menber :
        %li.message_info_left_member_list
        - @group.users.each do |user|
          = user.name
    .message_info_edit
      = link_to edit_group_path(@group.id) do
        Edit

  .main_message  
    = render @messages

  .message_form
    = form_for [@group, @message]  do |f|
      .input_box
        = f.text_field :content, class: 'input_box_test', placeholder: 'type a message'
        = f.label :image, class: 'input_box_image' do
          = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'input_box_image_file'
      = f.submit 'Send', class: 'submit-btn'