.chat-side
  .side_box
    .side_box_user 
      %p.side_box_user_username 
        masa
      %ul.side_box_user_menu
        %li.side_box_edit-user
        = link_to "#" do
          = icon('fas', 'edit')
        %li.side-box-new-group
        = link_to "#" do
          = icon('fas','cog')
  .side_list
    = link_to "#" do
      .side_list_group
        %p.side_list_group_name
          techcamp
        %p.side_list_group_mes
          まだメッセージがありません。
      